<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{header_data.description}}" />
        <meta name='robots' content='index,follow'>
        <title>{{header_data.title}}</title>
        <link rel="icon" type="image/x-icon" href="{{process.env.HOME_URL}}/assets/favicon.ico" />
        <link rel="canonical" href="{{header_data.canonical_url}}" />
        @if(header_data.next_page>0)
         <link rel="next" href="{{header_data.canonical_url}}?page={{header_data.next_page}}"/>
        @endif
        @if(header_data.prev_page>0)
         <link rel="prev" href="{{header_data.canonical_url}}?page={{header_data.prev_page}}"/>
        @endif 
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{process.env.HOME_URL}}/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{process.env.HOME_URL}}">Home Page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        @each(category in header_data.categories)
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{process.env.HOME_URL}}/category-{{category.name}}-c{{category._id}}.html">{{category.name}}</a></li>
                        @endeach
                     </ul>
                </div>
            </div>
        </nav>